body {
    color: rgb(88, 75, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('./img/8.jpg');
    background-size: cover;
    background-position: center;
    font-family: "Cookie", cursive;
    font-size: larger;
    font-style: italic;

}

.div-principal {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.86);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

}

.footer {
    margin-top: 20px;

}

.login {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.carousel {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-inner {
    text-align: center;
}

.carousel-inner img {
    width: auto;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    display: inline-block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 50%;
}