body {
    color: rgb(88, 75, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('./img/8.jpg');
    background-size: cover;
    background-position: center;
    font-family: "Cookie", cursive;
    font-size: larger;
    font-style: italic;
    min-height: 100vh;
}

.div-principal {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.86);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.container {
    text-align: center;
    max-width: 90%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: 2;
}

.footer {
    margin-top: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.login {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.carousel {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.carousel-inner {
    text-align: center;
}

.carousel-inner img {
    margin-top: 2%;
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 50%;
}

h1 {
    margin-top: 20px;
    font-size: 2.5rem;
    color: rgb(88, 75, 80);
    font-family: "Cookie", cursive;
}

/* Estilo para el contenedor del video */
.video-wrapper {
    display: flex;
    justify-content: center; /* Centra el video horizontalmente */
    align-items: center; /* Centra el video verticalmente si el contenedor tiene altura */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho/alto total */
}

/* Estilo para el video */
.video-container {
    max-width: 100%; /* Ajusta el ancho máximo del video al 100% del contenedor */
    max-height: 400px; /* Limita la altura máxima del video */
    width: auto; /* Ajusta el ancho automáticamente según la altura máxima */
    height: auto; /* Mantiene la proporción del video */
    border-radius: 10px; /* Opcional: Agrega bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: Agrega una sombra al video */
}
